XSDTypeCl/XSDTypeCl/Resources/xsd/new/Untitled_CTinCT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="UntitledElem" type="UntitledCT1" />
  <xsd:complexType name="UntitledCT1">
    <xsd:sequence>
      <xsd:element name="UntitledElem1" type="xsd:string" />
      <xsd:element name="UntitledElem11CT" type="UntitledCT2" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UntitledCT2">
    <xsd:sequence>
      <xsd:element name="UntitledElem2" type="xsd:string" />
      <xsd:element name="UntitledElem22" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>