xsd/anydoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by Vladimir (CTM) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="ANYDOCTABLEDETAILS_TABLE">
		<xsd:annotation>
			<xsd:documentation>Таблицы - тело таблицы</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ANYDOCTABLEDETAILS_ITEM" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DOC_ID" type="xsd:integer" nillable="false"/>
						<xsd:element name="FieldValue_A" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (1)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_B" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (2)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_C" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (3)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_D" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (4)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_E" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (5)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_F" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (6)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_G" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (7)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_H" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (8)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_I" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (9)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_J" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (10)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_K" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (11)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_L" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (12)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_M" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (13)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_N" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (14)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_O" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (15)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_P" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (16)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_Q" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (17)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_R" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (18)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_S" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (19)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_T" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (20)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_U" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (21)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_V" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (22)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_W" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (23)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_X" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (24)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_Y" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (25)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_Z" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (26)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (27)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (28)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AC" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (29)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AD" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (30)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (31)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AF" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (32)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (33)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AH" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (34)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AI" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (35)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AJ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (36)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AK" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (37)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (38)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (39)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (40)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (41)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AP" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (42)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (43)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (44)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (45)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (46)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AU" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (47)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AV" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (48)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AW" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (49)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AX" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (50)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AY" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (51)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_AZ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (52)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (53)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (54)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BC" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (55)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BD" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (56)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (57)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BF" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (58)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (59)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BH" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (60)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BI" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (61)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BJ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (62)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BK" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (63)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (64)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (65)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (66)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (67)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BP" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (68)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (69)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (70)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (71)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (72)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BU" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (73)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BV" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (74)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BW" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (75)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BX" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (76)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BY" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (77)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldValue_BZ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Значение поля (78)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="65535"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ANYDOCTABLEHEADER_TABLE">
		<xsd:annotation>
			<xsd:documentation>Таблицы - заголовочная часть</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ANYDOCTABLEHEADER_ITEM" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DOC_ID" type="xsd:integer" nillable="false"/>
						<xsd:element name="TableCaption" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок Таблицы</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_A" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (1)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_B" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (2)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_C" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (3)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_D" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (4)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_E" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (5)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_F" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (6)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_G" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (7)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_H" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (8)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_I" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (9)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_J" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (10)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_K" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (11)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_L" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (12)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_M" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (13)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_N" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (14)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_O" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (15)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_P" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (16)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_Q" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (17)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_R" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (18)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_S" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (19)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_T" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (20)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_U" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (21)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_V" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (22)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_W" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (23)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_X" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (24)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_Y" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (25)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_Z" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (26)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (27)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (28)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AC" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (29)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AD" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (30)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (31)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AF" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (32)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (33)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AH" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (34)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AI" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (35)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AJ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (36)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AK" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (37)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (38)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (39)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (40)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (41)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AP" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (42)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (43)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (44)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (45)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (46)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AU" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (47)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AV" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (48)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AW" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (49)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AX" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (50)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AY" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (51)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_AZ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (52)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BA" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (53)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BB" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (54)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BC" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (55)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BD" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (56)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (57)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BF" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (58)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BG" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (59)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BH" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (60)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BI" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (61)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BJ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (62)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BK" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (63)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (64)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BM" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (65)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BN" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (66)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (67)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BP" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (68)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (69)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BR" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (70)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (71)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (72)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BU" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (73)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BV" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (74)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BW" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (75)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BX" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (76)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BY" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (77)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FieldCaption_BZ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок поля (78)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ANYDOCTABLEDETAILS" type="ANYDOCTABLEDETAILS_TABLE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Тело таблицы</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ANYDOCTEXT_TABLE">
		<xsd:annotation>
			<xsd:documentation>Текстовые блоки</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ANYDOCTEXT_ITEM" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DOC_ID" type="xsd:integer" nillable="false"/>
						<xsd:element name="SectionName" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Заголовок блока</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="32767"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="DocText" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Текст блока</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="600000"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ANYDOC_TABLE">
		<xsd:annotation>
			<xsd:documentation>Произвольный документ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ANYDOC_ITEM">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DOC_ID" type="xsd:integer" nillable="false"/>
						<xsd:element name="DocName" nillable="true" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Наименование документа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RegNum" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер документа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="RegDate" type="xsd:dateTime" nillable="true" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Дата документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="OrgName" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Наименование организации, выдавшей документ</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="250"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FilePath" nillable="true" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Каталог, где находится файл</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="FileName" nillable="true" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Имя файла</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="255"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="ANYDOCText" type="ANYDOCTEXT_TABLE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Текст документа до таблиц</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ANYDOCTABLEHEADER" type="ANYDOCTABLEHEADER_TABLE" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Таблицы</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Sign1_FIO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (1): ФИО </xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign1_PersonName2" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (1): Имя</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign1_PersonMiddleName" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (1): Отчество</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign1_Range" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (1): Должность </xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="150"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign1_Date" type="xsd:dateTime" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (1): дата</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Sign2_FIO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (2): ФИО </xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign2_PersonName2" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (2): Имя</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign2_PersonMiddleName" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (2): Отчество</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="50"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign2_Range" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (2): Должность </xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="150"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Sign2_Date" type="xsd:dateTime" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Подпись (2): дата</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:all>
					<xsd:attribute name="FreeDoc" type="xsd:boolean" fixed="true">
						<xsd:annotation>
							<xsd:documentation>Признак выгрузки в формате FreeDoc</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ANYDOC" type="ANYDOC_TABLE">
		<xsd:annotation>
			<xsd:documentation>Произвольный документ</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
