XSDTypeCl/XSDTypeCl/Resources/xsd/new/New folder/PASSPORTNEW.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="PASSPORT" type="PASSPORT_TABLE">
    <xsd:annotation>
      <xsd:documentation>Паспорт сделки</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PASSPORT_TABLE">
    <xsd:annotation>
      <xsd:documentation>Паспорт сделки</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PASSPORT_ITEM">
        <xsd:annotation>
          <xsd:documentation>Паспорт сделки</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="DOC_ID" type="xsd:integer" />
            <xsd:element name="RegNum" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Номер паспорта</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="25" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RegDate" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата паспорта</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="P2" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Наименование уполномоченного банка</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="150" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P5" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Резидент: наименование</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="150" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdRfZone" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: субъект РФ</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdRegion" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: район.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdCity" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: город.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="35" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdTown" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: населенный пункт.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdStreet" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: улица.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdBuildn" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: номер дома.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="5" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdBulkN" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: корпус (строение).</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="5" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RsdntAdOffic" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Адрес резидента: офис (квартира).</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="5" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="OGRN" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Резидент: ОГРН</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="15" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FIRM_REG_D" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Резидент: дата государственной регистрации</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="G024C" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Резидент: ИНН</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="12" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P_KPP" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Резидент: КПП</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="9" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P8" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Иностранный контрагент: наименование</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="150" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P9" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Иностранный контрагент: наименование страны</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="KSP" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Иностранный контрагент: код страны</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContractNum" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Номер контракта</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContractDate" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата подписания контракта</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="P15" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Наименование валюты цены</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="70" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P14" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Код валюты цены.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P13" type="xsd:decimal">
              <xsd:annotation>
                <xsd:documentation>Стоимость контракта.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16" />
                  <xsd:fractionDigits value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NoSumFlag" type="xsd:integer">
              <xsd:annotation>
                <xsd:documentation>"Без суммы"</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P16" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата завершения исполнения обязательств по контракту</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="AbroadSum" type="xsd:decimal">
              <xsd:annotation>
                <xsd:documentation>Зачисление на счета за рубежом (сумма в валюте контракта).</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16" />
                  <xsd:fractionDigits value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P_VO" type="xsd:integer">
              <xsd:annotation>
                <xsd:documentation>Валютная оговорка.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SpecTerm1" type="xsd:integer">
              <xsd:annotation>
                <xsd:documentation>Ввоз/вывоз товаров из разделов XVI, XVII, XIX ТН ВЭД.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SpecTerm2" type="xsd:integer">
              <xsd:annotation>
                <xsd:documentation>Проведение строит. и подрядных работ за пределами РФ.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P_NL" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Номер разрешения на предварительную оплату/отсрочку платежа.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P_DL" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата разрешения на предварительную оплату/отсрочку платежа.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="OT_SUM" type="xsd:decimal">
              <xsd:annotation>
                <xsd:documentation>Сумма отсроченного платежа.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="16" />
                  <xsd:fractionDigits value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RAZR_EXPD" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата окончания срока действия разрешения.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="PassNoBefore" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Номер ПС, оформленного до 18.06.2004.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="25" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PassNoAnother" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Номер ПС, оформленного в другом уполномоченном. банке.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="25" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PassDateAnother" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата ПС, оформленного в другом уполномоченном. банке.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReopenNo" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Номер переоформления ПС.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ReopenDate" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата переоформления ПС.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="CloseDate" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата закрытия ПС.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="CloseReason" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Основание для закрытия ПС (указывается номер подпункта 3.18.1 - 3.18.3 пункта 3.18 Инструкции ЦБ РФ от 15.06.2004 г. N 117-И, на основании которого закрывается ПС)</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContrSpecCond" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Специальные сведения о контракте: условия о сроках и порядке расчетов по контракту.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="32767" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ContrDatePeriod" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Специальные сведения о контракте: срок.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Page2Date" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>Дата оформления листа 2.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="P21" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От банка: должность.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P22" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От банка: фамилия</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P22_Name" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От банка: имя</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P22_MiddleName" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От банка: отчество</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P23" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>От банка: дата подписи.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="P24" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От резидента: должность.</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P25" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От резидента: фамилия</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P25_Name" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От резидента: имя</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P25_MiddleName" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>От резидента: отчество</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="P26" type="xsd:dateTime">
              <xsd:annotation>
                <xsd:documentation>От резидента: дата подписи.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>